<h1>All Events</h1>

<% @events.each do |event| %>
<div class="event-card">
  <h3><%= link_to event.name, event_path(event) %></h3>
  <p><strong>Type:</strong> <%= event.event_type.capitalize %></p>
  <p><strong>Organizer:</strong> <%= event.organizer.username %></p>

  <% if current_user.is_a?(OrganizerUser) || current_user.is_a?(ExecutiveUser) || current_user.is_a?(AdminUser) %>
  <%= link_to "Edit", edit_event_path(event), class: "btn btn-primary" %>
  <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <% end %>
</div>
<% end %>

<%= link_to "Create New Event", new_event_path, class: "btn btn-success" if current_user.is_a?(OrganizerUser) || current_user.is_a?(ExecutiveUser) || current_user.is_a?(AdminUser)%>