<h1><%= @event.name %></h1>

<p><strong>Event Type:</strong> <%= @event.event_type.capitalize %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Organizer:</strong> <%= @event.organizer.username %></p>

<%= link_to "Back to Events", events_path, class: "btn btn-secondary" %>

<% if current_user.is_a?(AttendeeUser) %>
  <% if current_user.registered_for_event?(@event.id) %>
    <%= link_to "View registration details", event_registration_path(current_user.get_registration_for_event(@event.id)), class: "btn btn-success" %>
  <% else %>
    <%= link_to "Register as listener", register_as_listener_event_path(@event), method: :post, class: "btn btn-success" %>
    <% if current_user.attendee_type == "speaker" %>
      <%= link_to "Register as speaker", register_as_speaker_event_path(@event), method: :post, class: "btn btn-success" %>
    <% end %>
  <% end %>
<% end %>
<% if current_user.is_a?(OrganizerUser) || current_user.is_a?(ExecutiveUser) || current_user.is_a?(AdminUser) %>
  <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-primary" %>
  <%= link_to "Delete", event_path(@event), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>
