<h1>Browse Events</h1>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="list-group">
      <% @events.each do |event| %>
      <div class="list-group-item d-flex justify-content-between align-items-center mb-3">
        <div>
          <h5 class="mb-1"><%= event.name %></h5>
          <p class="mb-1"><%= event.description %></p>
          <small class="text-muted"><%= event.event_type.capitalize %></small><br/>
          <small class="text-muted">
            <i class="fa-solid fa-calendar-days" style="color: #E8923C;"></i>
            <%= event.start_time.strftime("%B %d, %Y %I:%M %p") %> - 
            <%= event.end_time.strftime("%B %d, %Y %I:%M %p") %>
          </small><br/>
          <small class="text-muted">
            <i class="fa-solid fa-location-dot" style="color: #e60a0a;"></i>
            <%= event.venue.location.get_full_address %>
          </small>
        </div>
        <div>
          <%= link_to "Register as listener", register_as_listener_event_path(event), class: 'btn btn-primary', method: :post, data: { turbo_method: :post } %>
          <% if current_user.attendee_type == "speaker" %>
          <%= link_to "Register as speaker", register_as_speaker_event_path(event), class: 'btn btn-secondary', method: :post, data: { turbo_method: :post } %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>